{% load staticfiles %}
{% csrf_token %}
<!Doctype HTML>
<html>
<head>
	<meta charset="utf8">
	<title>Web Chat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<script language="JavaScript" type="text/javascript" src="{% static 'js/chat.js' %}"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<style type="text/css" media="screen"></style>
</head>
<body onload="main('{{ user.username }}')">
	{% include 'topmenu.html' %}
	<div class="container">
		<div id="alert-placeholder"></div>
		{% csrf_token %}
		<form action="/add_files/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
						{{ form.docfile }}
			</p>
			<p>
				<input type="submit" value="Upload" />
			</p>
		</form>
	</div>
</body>
</html>