{% load staticfiles %}
{% csrf_token %}

<!Doctype HTML>
<html>
	<head>
		<meta charset="utf8">
		<title>Web Chat</title> 
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />
		<script language="JavaScript" type="text/javascript" src="{% static 'js/script.js' %}"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<style type="text/css" media="screen">
			.mygrid-wrapper-div {
				height: 480px;
				overflow-y: auto;
				word-break: break-word;
			}
		</style>
	</head>
	<body onload="authorisation()">
		<div class="container">
		{% csrf_token %}
			    <div class="col-lg-3"></div>
			    <div class="col-lg-6">
  				<div class="form-group">
			        <div class="row">
			        	<div class="col-lg-6">
						<ul class="breadcrumb">
						  <li id="chatname" class="active">Chat: {{ chat.chat_name }}</li>
						</ul>
			        	</div>
			        	<div class="col-lg-6">
						<ul class="breadcrumb">
						  <li id="username" class="active">User: Unknown</li>
						</ul>
			        	</div>

			        </div>
			      	<div class="mygrid-wrapper-div">
			      	<table id="chatTable" class="table">
			      		
					</table>
			      	</div>
			      	<form id="post_message">
			      	{% csrf_token %}
			        <textarea class="form-control" rows="3" id="textArea" name="message"></textarea>
			        <input type="hidden" name="user_id" id="user_id" />
			        </form>
			        <button class="btn btn-primary" onclick="post_message()">Send</button>
			        <button href="../../" class="btn btn-primary">Exit</button>
			      </div>
			      </div>
			    </div>

		</div>
	</body>

</html>