{% load staticfiles %}

<!Doctype HTML>
<html>
	<head>
		<meta charset="utf8">
		<title>Web Chat</title> 
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />
		<script language="JavaScript" type="text/javascript" src="{% static 'js/script.js' %}"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<style type="text/css" media="screen">
			.mygrid-wrapper-div {
				height: 480px;
				overflow-y: scroll; 
			}
		</style>
	</head>
	<body>
		<div class="container">
			<table class="table table-striped table-hover">
				<tr>
					<td>Chat id</td>
					<td>Chat name</td>
				</tr>
				{% for chat in chats %}
				<tr>
					<td>{{ chat.id }}</td>
					<td>{{ chat.chat_name }}</td>
				</tr>
			{% endfor %}
		</div>
	</body>

</html>